.linkStyle {
  text-decoration: none;
  color: black;
  margin: 20px;
}

.linkContainer{
  width: 20%;
  margin-left: 40%;
  margin-right: 40%;
  text-align: center;
  padding-top: 15%;
}

.homeContainer {
  width: 100%;
}

.linkStyle {
  width: 300px;
}
