.cardFront{
  height: 150px;
  width: 200px;
  text-align: center;
  margin-top: 10px;
}

.cardBack{
  height: 150px;
  width: 200px;
  margin-top: 10px;
  text-align: center;
}

.deckName{
  margin-top: 10px;
  text-align: center;
  width: 200px;
}


.submitButtonStyle{
  margin-top: 10%;
}

.buttonSize{
  border-radius: 6px;
}

.linkText {
  padding: 5px;
  text-decoration: none;
}

.addCardContainer{
  margin-top: 10%;
  text-align: center;
  width: 100%;
}

.addCardformContainer{
  width: 15%;
  text-align: center;
  margin-left: 42.5%;
  margin-right: 42.5%;
}

.addCardTitle{
  font-size: 30px;
}
