.linkStyle {
  text-decoration: none;
  color: black;
  margin: 20px;
}

.linkContainer{
  width: 100%;
  text-align: center;
  padding-top: 15%;
  // border-style: solid;
  // border-color: black;
}

.headerContainer {
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
}
