.linkStyle {
  text-decoration: none;
  color: black;
  margin: 20px;
}

.linkContainer{
  width: 100%;
  // margin-left: 40%;
  // margin-right: 40%;
  text-align: center;
  padding-top: 15%;
  border-style: solid;
  border-color: black;
}

.headerContainer {
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  // text-align: center;
}

.linkStyle {
  // width: 300px;
}
