.loginTitle{
  color: blue;
  text-align: center;
}

.loginContainer{
  border-style: solid;
  border-color: black;
  margin-top: 10%;
  width: 30%;
  margin-left: 35%;
  margin-right: 35%;
  text-align: center;
}
