.signupContainer{
  margin-top: 10%;
  text-align: center;
}

.inputContainer{
  padding-bottom: 20px;
}

.signupTitle{
  font-size: 30px;
  text-align: center;
}

.buttonContainer{
  border-radius: 6px;
}

.formContainer{
  width: 8%;
  margin-left: 46%;
  margin-right: 46%;
}

.textInput{
  margin-top: 10px;
}
